.button {
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background: #1ba7a1;
  border: none;
  color: #126e69;
  padding: 0.4rem 1.2rem;
  box-sizing: border-box;
  font-weight: bold;
  transition: 0.1s;
  margin: 0 auto;
  min-width: 8rem;
}

.button:hover,
.button:focus {
  color: white;
  box-shadow: 1px 1px 6px #28faef;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
