@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
* {
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}

body {
  padding-top: 70px;
  margin: 0px;
  color: #333;
}

a {
  color: #333;
}
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

img {
  /* display: block; */
  max-width: 100%;
}

button,
input {
  display: block;
}

.conteiner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

.mainConteiner {
  margin-top: 4rem;
}

.title {
  font-family: Spectral;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #1ba7a1;
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeleft 0.3s forwards;
}

@keyframes animeleft {
  to {
    opacity: 1;
    transform: initial;
  }
}
